div.sumn{
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color:white;
	padding-top: 93px;
	font-family: Helevetica;
}
ul li{
	display: inline;
}

div.low{
	background-position: center;
	background-image: url("jumbotron_bg.jpg");
	text-align: right;
	padding-right: 132px;
	padding-top: 54px;
	padding-bottom: 54px;

}