div.sumn{
	background-image: url("bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color:white;
	padding-top: 93px;
	font-family: Arial;
}
ul li{
	display: inline;
}